# Unify all commits under single identity
Vinit Shinde <148773020+Vin-it-9@users.noreply.github.com> <vineetshinde2559@gmail.com>
Vinit Shinde <148773020+Vin-it-9@users.noreply.github.com> vinit <148773020+Vin-it-9@users.noreply.github.com>
Vinit Shinde <148773020+Vin-it-9@users.noreply.github.com> Vin-it-9 <vineetshinde2559@gmail.com>
