name: Deploy to Heroku (Buildpack Mode)

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25-ea'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with Maven
        run: ./mvnw clean package -DskipTests

      - name: Switch Heroku stack to buildpack mode
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: |
          # Install Heroku CLI
          curl https://cli-assets.heroku.com/install.sh | sh
          
          # Login to Heroku
          echo $HEROKU_API_KEY | heroku auth:token
          
          # Switch from container to buildpack
          heroku stack:set heroku-24 -a javarun || true
          
          # Remove container registry setting if exists
          heroku config:unset DOCKER_IMAGE -a javarun || true

      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.13.15
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: "javarun"
          heroku_email: ${{ secrets.HEROKU_EMAIL }}
          usedocker: false
          buildpack: "heroku/java"
